@import '../branding/scss/global.module.scss';
:global{
  [class*="bce-design-system-globalIdentity-left"]{
    display: none;
    @media screen and (min-width: $ms-screen-min-xl) {
     display: block;
    }
  }
 [class*="bce-design-system-globalIdentity-top"]{
    display: none;
    @media screen and (max-width: $ms-screen-max-lg) {
      display: block;
    }
  }
  #O365_SearchBoxContainer{
    display: none;
  }
  .o365cs-base .o365sx-appName, 
  .o365cs-base .o365sx-appName:hover, 
  .o365cs-base .o365sx-appName:visited, 
  .o365cs-base .o365sx-appName:focus, 
  .o365cs-base .o365sx-button,
  .o365cs-base .o365sx-waffle{
    background-color: #054166;
    span{
      color: white;
    }
  }
  #O365_NavHeader{
    #O365_AppName{
      display: none;
    }
    ._16sMW9VwzaWw0bEAcTsBy0{
      padding-left: 20px;
      padding-right: 20px;
      .o365sx-button{
        height: 50px;
        width: 50px;
        margin-top: 20px;
        border: 1px solid gray;
        span{
          color: white;
        }
        
        &:focus{
          background-color: #0078D4;
        }
        &:hover{
          background-color: #0078D4;
        }
      }
    }
  }
}

.bceDesignSystemIdentity {
  background-color: #054166 !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 98px;
  width: 240px;
  &::after {
    content: '';
    display: block;
    height: $bce-design-system-size-pixel;
    left: $bce-design-system-gutter-s;
    right: $bce-design-system-gutter-s;
    bottom: 0;
    position: absolute;
    background-color: $bce-design-system-color-white;
    opacity: 0.32;
  }

  a {
    width: 210px;
    height:98px;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;
    padding-bottom: 27px;
    text-decoration: none !important;
    color: white;
    border-bottom: 1px solid white;
    span {
      font-weight: $bce-design-system-fontWeight-l;
      display: block;
    }
    @media screen and (max-width: $ms-screen-max-lg) {
      text-align: left;
      padding: 0px;
      padding-top: 20px;
    }
  }

  h3 {
    font-weight: $bce-design-system-fontWeight-m;
    font-size: $bce-design-system-fontSize-m-plus;
    line-height: $bce-design-system-lineHeight-n;
    margin: 0;
    color: white;
  }

  span {
    color: white;
  }
}
